<ul class="nav nav-underline d-flex justify-content-evenly flex-nowrap">
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/beachfront">
      <img src="https://img.icons8.com/?size=40&id=9xyqmUbQFC4L&format=png&color=000000" alt="beach">
      <p class="m-0">Beachfront</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/city">
      <img src="https://img.icons8.com/?size=40&id=FrBSkVzw5GE_&format=png&color=000000" alt="city">
      <p class="m-0">City</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/mountain">
      <img src="https://img.icons8.com/?size=40&id=W1E7Fqbmfue8&format=png&color=000000" alt="mountain">
      <p class="m-0">Mountain</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/historic">
      <img src="https://img.icons8.com/?size=40&id=2dHAlXzCRQRl&format=png&color=000000" alt="historic">
      <p class="m-0">Historic</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/nature">
      <img src="https://img.icons8.com/?size=40&id=25449&format=png&color=000000" alt="nature">
      <p class="m-0">Nature</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/luxury">
      <img src="https://img.icons8.com/?size=40&id=13728&format=png&color=000000" alt="luxury">
      <p class="m-0">Luxury</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/ski">
      <img src="https://img.icons8.com/?size=40&id=33523&format=png&color=000000" alt="ski">
      <p class="m-0">Ski</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/safari">
      <img src="https://img.icons8.com/?size=40&id=WEzt6b7zePSh&format=png&color=000000" alt="safari">
      <p class="m-0">Safari</p>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-tabs text-center" href="/listings/category/tropical">
      <img src="https://img.icons8.com/?size=40&id=LRV2NrJaGC5w&format=png&color=000000" alt="tropical">
      <p class="m-0">Tropical</p>
    </a>
  </li>
</ul>