# Ignore node_modules directory
node_modules/

package-lock.json

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore build directories
dist/
build/

# Ignore init folder
init/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
.vercel
